@model System.Collections.Generic.List<web_mvc.Models.Musica>
@{
    ViewData["Title"] = "Bem Vindo(a)";
}

<h2>@ViewData["Title"]</h2>

<h3>@ViewData["Mensagem"]</h2>


@foreach(var i in @Model){
    
    <p><strong>Titulo:</strong> @i.Titulo</p>
    <p><strong>Estilo:</strong> @i.Estilo</p>
    <p><strong>Compositor:</strong> @i.Compositor</p>
    <BR>
    
}